* {
    margin:0; padding:0;
}
.header{
    background: cornflowerblue;
    color:palevioletred;
    padding:1rem;text-align: center;
}
.content{
    display: flex; flex-direction: column;align-items: center;
}
#todo-form{
    width: 300px; height: 30px; margin-top:8rem;padding:1rem;
    display: flex; align-items: center; justify-content: space-around;
}
label{
    font-weight: bold;
    margin-right:0.5rem;
}
input{
    padding:0.1rem; height: 20px;
}
button{
    border:none; background: cornflowerblue;
    color:white; padding:0.3rem 0.5rem;
    border-radius: 0.2rem;
}
#todo-list{
    margin-top:3rem;
    list-style: none;
    width: 300px; padding-left:2rem;
}
.item{
    padding:1rem;
}
#msg{
    font-size:12px;
    color:red;
    display: none;
}
