body{
    font-size:3rem;
}
h1{
    background: yellowgreen;
}
/* .testimg{
    display: inline-block;
    list-style: none;
}
.testimg img{
   height: 100px;
}

.link-google{
   color:red;
}

.special{
    background: pink;
}

.btn{
    font-size : 2rem;
} */

.menu{
    display: flex;
}
.menu-link{
    margin: .5em; padding: .5em;
    background: dodgerblue;
    color:#fff;
    list-style:none;
    text-decoration: none;
}
.menu-active{
    background: olive;
}