html{
    width: 100%; height: 100%;
}
body{
    width: 100%; height: 100%;
    margin-top:5em;
    font:20px/1.5;
    color:black;
}

/* 
    콘테이너에  position:relative을 잡는다.,
    overflow:hidden를 건 이유는 
    옆으로 나열된 슬라이더 때문에 가로스크롤이 생기는 것을 방지하기 위해서이다.
*/
.container{
    position:relative;
    width:100%;
    overflow:hidden;
}
/* position: absolute;인 이유
    li요소의 부모요소가 움직여야 하기 때문이다.
*/
.slider-container{
    position: absolute; width: 100%;
}

.slider{
    /* 
    width가 있는 상태에서 padding을 주면 사이즈가 늘어나기 때문에
    box-sizing 적용...
    높이를 가운데로 맞추기 위해 top 지정, 반 걸쳐진 높이를 다시 맞춰주기 위해 
    transform: translateY로 지정
    */
    position: absolute; width: 100%; padding:0 10%;
    box-sizing: border-box; top:50%;
    transform: translateY(-50%); text-align: center; overflow: hidden;
}

/* lider-container에 animated가 들어오면 애니메이션 실행*/
.slider-container.animated{
    -webkit-transition: left .3s ease-in;
    transition: left .3s ease-in;
}
